<table width="572" >
	<tbody>

		<tr>
			<td width="64">
				<p><strong>Task ID</strong></p>
			</td>
			<td width="376">
				<p><strong>Story</strong></p>
			</td>
			<td width="68">
				<p><strong>Estimate<br /> (days)</strong></p>
			</td>
			<td width="64">
				<p><strong>Priority</strong></p>
			</td>
		</tr>


		<tr>
			<td width="64">
				<p>&nbsp;1</p>
			</td>
			<td width="376">
				<p>Merancang aplikasi yang dapat mempermudah booking fitness</p>
			</td>
			<td width="68">
				<p>4</p>
			</td>
			<td width="64">
				<p>1</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;2</p>
			</td>
			<td width="376">
				<p>Menampilkan semua list member dan visitor</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>1</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;8</p>
			</td>
			<td width="376">
				<p>Penyedia jasa menambahkan kelas dan ruangan yang<br /> &nbsp;dapat dibooking</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>1</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;7</p>
			</td>
			<td width="376">
				<p>Menambahkan keamanan aplikasi</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>1</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;3</p>
			</td>
			<td width="376">
				<p>Adanya fitur registrasi untuk melakukan booking</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>1</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;4</p>
			</td>
			<td width="376">
				<p>Adanya fitur login</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>1</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;10</p>
			</td>
			<td width="376">
				<p>Bisa menghapus kelas atau ruangan yang akan dibooking</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>2</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;9</p>
			</td>
			<td width="376">
				<p>Bisa mengganti kelas atau ruangan yang akan dibooking</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>2</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;11</p>
			</td>
			<td width="376">
				<p>Bisa mengetahui status booking</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>2</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;13</p>
			</td>
			<td width="376">
				<p>Adanya fitur untuk melakukan contact admin</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;14</p>
			</td>
			<td width="376">
				<p>Adanya fitur untuk memberikan feedback</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;7</p>
			</td>
			<td width="376">
				<p>Adanya fitur logout akun</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;5</p>
			</td>
			<td width="376">
				<p>Pengguna dapat merubah password</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;6</p>
			</td>
			<td width="376">
				<p>Bisa melakukan verifikasi akun yang terhubung dengan email</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;12</p>
			</td>
			<td width="376">
				<p>Adanya fitur "search" untuk mencari konten yang diinginkan</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

		<tr>
			<td width="64">
				<p>&nbsp;15</p>
			</td>
			<td width="376">
				<p>Adanya fitur "article"</p>
			</td>
			<td width="68">
				<p>1</p>
			</td>
			<td width="64">
				<p>3</p>
			</td>
		</tr>

	</tbody>
</table>


<style type="text/css">
	
	table{
		border: 1px solid black;
	}


</style>